<!DOCTYPE html>
<html>

    <head>
        <title>About</title>
        <link rel='icon' href='./images/cloud.png'>
        <link rel='stylesheet' href='./css/styles.css'>
    </head>
    <body>
        <h1>From about file</h1>
        <div class="main-content">
            {{>header}}
        </div>
        <img class='portrait' src='/images/bmw.jpg'>
        {{>footer}}
    </body>
</html>
